.loading-spinner {
	height: 200px;
	width: 200px;
	-webkit-mask-image: url(../style/spinner.png);
	background-color:#000;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

body {
	background-color:rgb(75,75,75);
	font-family:tahoma;
	margin-bottom:0px;
}

ul {
	list-style: none;
	margin-top:0px;
	padding-left:0px;
}

/* Linktape Title */
.ls-title {
	color:white;
	margin:10 auto;
	width: 80%;
	font-size:36px;
}

.ls-title input {
	border-radius: 10px;
	border-color:white;
	line-height:36px;
	font-size:36px;
	outline-style:none;
}


/* Linktape Controls */
.ls-controls {
	padding: 15px;
	background: white;
	margin: 0 auto;
	width: 80%;
	border: black 2px solid;
}

.ls-controls input {
	border-radius: 10px;
	border-color: white;
	line-height: 36px;
	font-size: 36px;
	width: 75%;
	outline-style: none;
}

.control-button {
	cursor: pointer;
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;
	margin:5px;
}

#save-control {
	float: right;
}


/* Linktape Playlist */
.ls-playlist {
	margin:0 auto;
	width:80%;
	height:125%;
	background-color:white;
	border-top: black 2px solid;
	border-left: black 2px solid;
	border-right: black 2px solid;
	border-bottom:0px;
	/*overflow:overlay;*/
}

.ls-song-container {
	height: 400px;
	width: 400px;
	display:inline-block;
}

.ls-song-frame-wrapper {

}

.ls-song-drag-handle {
	height:25px;
	width:400px;
	background-color: rgb(75,75,75);
	cursor: -moz-grab;
	cursor: -webkit-grab;
	position:absolute;
	color: white;
}

.ls-song-drag-handle:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.ls-song-playing {
	color: green;
}

.ls-song-paused {
	color: red;
}

.ls-song-remove {
	float:right;
	border:none;
	cursor:pointer;
	height:20px;
	width:20px;
}

.ls-song-remove:before {
	content:"";
	height:7px;
	width:7px;
	position:absolute;
	top:5px;
	right:10px;
	border-bottom:5px solid white;
	border-right:5px solid white;
	-webkit-transform: rotate(-45deg);
}

.ls-song-remove:after {
	content:"";
	height:7px;
	width:7px;
	position:absolute;
	top:5px;
	right:0px;
	border-top:5px solid white;
	border-left:5px solid white;
	-webkit-transform: rotate(-45deg);
}