.loading-spinner {
	height: 200px;
	width: 200px;
	-webkit-mask-image: url(../style/spinner.png);
	background-color:#000;
	-webkit-animation-name: spinnerRotate;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
	from {
		-webkit-transform:rotate(0deg);
	}
	to {
		-webkit-transform:rotate(360deg);
	}
}

ul {
	list-style: none;
}

.control-button {
	cursor: pointer;
	border: 2px solid;
	border-radius: 5px;
	padding: 5px;
}

.ls-song-container {
	height: 375px;
	width: 375px;
	display:inline-block;
}

.ls-song-drag-handle {
	height:25px;
	width:100%;
	background-color: #000000;
	cursor: -moz-grab;
	cursor: -webkit-grab;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;

}

.ls-song-drag-handle:active {
	cursor: -moz-grabbing;
	cursor: -webkit-grabbing;
}

.ls-song-playing {
	color: green;
}

.ls-song-paused {
	color: red;
}